torch
torchvision
tensorflow
matplotlib
scikit-image
keras
opencv
opencv-contrib-python
pyyaml
tensorboard
scikit-learn
shapely
imgaug
python-Levenshtein
librosa
lmdb
colorlog
python_speech_features
prefetch_generator
munch
